# =====================
# Environment variables
# =====================

# -----
# Local variables (.env.local)
# -----

# E2E specific
TEST_USER_ADMIN_EMAIL=
TEST_USER_PASSWORD=

# Contentful
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_REVALIDATE_SECRET=

# AWS SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FROM_EMAIL=

# Google Tag Manager
VITE_GTM_ID=

# Supabase
SUPABASE_ACCESS_TOKEN=
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_PROJECT_ID=
SUPABASE_DB_PASSWORD=
DATABASE_URL=

# For reference:
# STAGING_PROJECT_ID=
# STAGING_DB_PASSWORD=
# PRODUCTION_PROJECT_ID=
# PRODUCTION_DB_PASSWORD=




# -----
# Github secrets variables
# -----

# E2E specific
TEST_USER_ADMIN_EMAIL=
TEST_USER_PASSWORD=

# Supabase
SUPABASE_ACCESS_TOKEN=
STAGING_PROJECT_ID=
STAGING_DB_PASSWORD=
STAGING_SUPABASE_URL=
STAGING_SUPABASE_ANON_KEY=
STAGING_SUPABASE_SERVICE_ROLE_KEY=
PRODUCTION_PROJECT_ID=
PRODUCTION_DB_PASSWORD=
PRODUCTION_SUPABASE_URL=
PRODUCTION_SUPABASE_ANON_KEY=
PRODUCTION_SUPABASE_SERVICE_ROLE_KEY=

# Contentful
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_REVALIDATE_SECRET=
CONTENTFUL_PREVIEW_SECRET=

# Amazon SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FROM_EMAIL=

# Google Tag Manager
VITE_GTM_ID=




# -----
# Vercel secrets variables
# -----

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Contentful
CONTENTFUL_ENVIRONMENT=
CONTENTFUL_SPACE_ID=
CONTENTFUL_ACCESS_TOKEN=
CONTENTFUL_PREVIEW_ACCESS_TOKEN=
CONTENTFUL_MANAGEMENT_TOKEN=
CONTENTFUL_REVALIDATE_SECRET=
CONTENTFUL_PREVIEW_SECRET=

# Amazon SES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
FROM_EMAIL=

# Google Tag Manager
VITE_GTM_ID=