# env files
.env*
!.env.example

# misc
/dump/
*.pem

# Apple
.DS_Store
/node_modules/

# React Router
/.react-router/
/build/

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
test-results/
/playwright/.auth/*
playwright/.auth/*
e2e/.auth
.vercel/
validated-profiles.json
scripts/temp/migration/output/
